@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
html{
 
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
h2, h3, h4{
    font-family: 'Lato', sans-serif;    
    font-weight: 700; 
}
p{
    line-height: 10px;
}
.container{
    width: 100%;
}
.info{
    width: 38%;
}
p{
    line-height: 25px;
    font-size: 17px;
    font-weight: 300;
}
